requests
Flask
werkzeug
sendgrid
faker
pytz
sqlalchemy
pyodbc
newsapi-python
eventbrite
scrapetube
pymysql
schedule
sentry-sdk
Gunicorn
squareup
firebase_admin

pytest
coverage
requests-mock
pytest-watch
pytest-mock
boto3
