requests
flask
gunicorn
gevent
werkzeug
sendgrid
faker
pytz
sqlalchemy
pyodbc
newsapi-python
eventbrite
scrapetube
pymysql
schedule
sentry-sdk
squareup
firebase_admin


translatepy
pytest
coverage
requests-mock
pytest-watch
pytest-mock
