
<div class ="a_p_p_MainPod">
    <a href="assets/media/my_file.pdf" download
    class="a_p_p_MainButton"
    (click)="app.download.click($event)">
        Download PDF
    </a>
</div>


<div
    class="a_p_p_OverlayPod"
[ngStyle]="app.penrose.style"
>
    <div class="penrose"

>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="ball"></div>
  </div>
</div>

