@mixin blue_button {
	background:radial-gradient(farthest-corner at 100% 0px, cyan 0%, blue 200%);
}

@mixin dark_blue_button {
	background:radial-gradient(farthest-corner at 100% 0px, royalblue 0%, navy 200%);
}

@mixin black_button {
	background:radial-gradient(farthest-corner at 100% 0px, grey 0%, black 150%);
}

@mixin orange_button {
	background:radial-gradient(farthest-corner at 100% 0px, orange 0%, red 200%);
}

@mixin red_button {
	background:radial-gradient(farthest-corner at 100% 0px, red 0%, white 250%);
}

@mixin green_button {
	background:radial-gradient(farthest-corner at 100% 0px, aquamarine 0%, green 200%);
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin outline{
    border:3px dotted red;
}

@mixin glassmorphism{
    border-radius: 30px;
    backdrop-filter: blur( 4px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";


*{
    margin :10px 0 0 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    scrollbar-color: transparent;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #263040;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: transparent;
        opacity:4px;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}


.a_p_p_{

    &Login{
        &Button{
            @include glassmorphism;
            @include blue_button;
            font-size: 48px;
            font-weight: 700;
            padding: 20px;
        }

        &Div{

            & *{
                color: antiquewhite
            }
            @include glassmorphism;
            @include orange_button;
            @include flex-column-center;
            height: 500px;
            justify-content: space-evenly;
        }

        &Icon{
            font-size: 48px;
        }

    }
}
